@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(50 50 76); /* whole project bgColor */


}


.myDarkBlue {
  background-color: rgb(50 50 76);
}



.myCursor {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(50 50 76); /* whole project bgColor */
  width: 100%;
  border-left: 0.02em solid transparent;
  animation: typing 4s steps(16) infinite;
}

@keyframes typing {
  from {
    width: 100%;
    /*padding: 0;
    margin: 0;
    box-sizing: border-box;
    */
  }
  to {
    width: 0;
  }
}

.myLabel {
  height: 2px;
  width: 38px;
  background-color: rgb(50 50 76); /* whole project bgColor */
  ;
}
